/* General Styles */
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

/* Navigation Styles */
#navigation {
    background: #3056d3;
    width: 100%;
    padding: .5em;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

/* Stopwatch Styles */
#stopwatch-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5em auto;
    width: 20em;
    height: 10em;
    background: #f6f6f6;
    box-shadow: 0 0 4px 4px #8884;
    border-radius: .5em;
}

#stopwatch {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}

/* Button Styles */
#stopwatch-buttons {
    text-align: center;
    margin-top: 2em;
}

button {
    background: #3056d3;
    color: white;
    border: none;
    padding: .75em 1em;
    border-radius: 15em;
    font-size: 1em;
    cursor: pointer;
}

/* Laps Container Styles */
#laps-container {
    margin-top: 2em;
    width: 20em;
    height: 50%;
    background: #f6f6f6;
    box-shadow: 0 0 4px 4px #8884;
    border-radius: .5em;
    position: absolute;
    top: 18em;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

#laps-container h2 {
    text-align: center;
    margin: 0;
    height: 2em; /* Set height for sticky header */
    line-height: 2em; /* Center text vertically */
    background: #3056d3;
    color: white;
    font-size: 1.2em;
    position: sticky;
    top: 0; /* Sticky position at top */
}

#laps-container h3 {
    text-align: center;
    margin: .5em 0;
    font-size: 1em;
}

#laps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 5em); /* Adjust for header height and spacing */
    overflow-y: auto;
}

#laps li {
    padding: .5em 1em;
    border-bottom: 1px solid #ddd;
}

#laps li:nth-child(odd) {
    background: #f9f9f9;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: .5em;
}

.modal-content h2 {
    margin: 0 0 1em 0;
}

.modal-content p {
    margin-bottom: 1em;
}

.modal-content button {
    background: #3056d3;
    border: none;
    color: white;
    padding: .75em 1.5em;
    margin: 0 .5em;
    border-radius: .5em;
    cursor: pointer;
}

/* Disabled Button Styles */
button.disabled {
    cursor: default;
    opacity: .5;
}
